*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.object1{
    background-image: linear-gradient(rgb(117, 0, 128),rgb(225, 128, 255));
}
.object2{
    padding-top: 30px;
    padding-bottom: 30px;
    color: blueviolet;
    padding-left: 510px;
    font-family: fantasy;
}
.object3{
    font-size: 20px;
    padding-left: 150px !important;
    font-family: serif;
}
.object4{
    font-family:'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    color: blueviolet;
}
.object6{
    height: 150px;
    border-radius: 20px;  
    margin-top: 150px; 
    
}
.object7{
    position:absolute;
    height: 150px;
    border-radius: 20px;
    margin-left: 50px;
}
.object8{
    text-align: left;
    padding-left: 300px !important;
}
.object9{
    height: 150px;
    margin-left:200px;
    margin-top: 150px;
    position:absolute;
    border-radius: 20px;
}
.object10{
    height: 150px;
    border-radius: 20px;
    margin-top: 30px;
}
.object13{
    background-color: antiquewhite;
    background-size: cover;
}
.object14{
    padding-bottom: 50px;
    transform: rotateX('180');
}
.object14:hover{
    transition: 1.09s;
}
.object16{
    height: 150px;
    border-radius: 20px;
    margin-top: 50px;
}

.form-label{
    padding-right: 250px;
}
.object19{
    background-image: linear-gradient(rgb(239, 115, 250),rgb(117, 0, 152));
    padding-bottom: 50px;
}
.object20{
    font-family: fantasy;
    font-size: 30px;
    color:blueviolet;
}
.object23{
    margin-left: 150px;
    color: white;
}
.object24{
    padding-left: 150px;
}
.object25{
    margin-right: 200px;
}